#main {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30pt;
    padding: 20pt;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
#main>button {
    margin-left: 20%;
    min-width: 200px;
    border: none;
    padding-top: 20pt;
    padding-bottom: 20pt;
    font-size: 14pt;
    background-color: rgb(0, 195, 255);
    width: 40%;
    color: white;
    border-radius: 12pt;
    text-shadow: 2px 1px 3px black;
    cursor: pointer;
}

#modal {
    position: fixed;
    top: 0pt;
    right: 46%;
    transform: translate(30%, 50%);
    background-color: white;
    padding: 30pt;
    border: solid black thin;
    width: 70%;
    max-width: 576px;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15pt;
    z-index: 999;
    display: none;
    /* Mantenemos el display:none inicial */
}

#modal>h3 {
    margin: 0;
}

#modal>select {
    width: 100%;
    padding: 15pt;
}

#modal>select:focus {
    outline: none;
}

#modal>img {
    width: 5%;
    position: fixed;
    min-width: 30px;
    cursor: pointer;
    top: 5pt;
    right: 10pt;
}

#modal>button:disabled {
    cursor: not-allowed;
    margin-top: 10pt;
    padding: 15pt;
    background-color: lightgray;
    color: black;
    border: none;
    font-size: 15pt;
    border-radius: 15pt;
}

#modal>button:enabled {
    cursor: pointer;
    margin-top: 10pt;
    padding: 15pt;
    background-color: blue;
    color: white;
    border: none;
    font-size: 15pt;
    border-radius: 15pt;
    text-shadow: 1px -4px 4px black;
}

.participante {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 10pt;
}

.participante>img {
    width: 50%;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}

.participantes {
    border: solid black thin;
    max-height: 130pt;
    overflow-y: auto;
}

.accion>p {
    color: red;
    margin-top: 5pt;
}

.accion>button {
    padding: 12pt 30pt;
    font-size: 14pt;
    background-color: lightgreen;
    border: none;
    margin-top: 8pt;
    color: white;
    text-shadow: 2px 1px 3px black;
    text-transform: capitalize;
    border-radius: 15pt;
    cursor: pointer;
}

.participantes hr:last-child {
    display: none;
}

.accion>button:disabled {
    background-color: lightgray;
    color: black;
    cursor: not-allowed;
    text-shadow: none;
}

.perfil {
    width: 5%;
    padding: 0.5%;
    position: fixed;
    cursor: pointer;
    top: 2%;
    right: 9%;
    margin-right: 15pt;
}

.perfil img {
    width: 80%;
    border-radius: 50%;
    border: solid, black;
    padding: 8pt;
    background-color: whitesmoke;
}

.botones {
    display: none;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 15pt;
    padding: 15pt 57pt;
    width: 120%;
}

.botones>button {
    cursor: pointer;
    position: relative;
    height: 39pt;
    margin-top: 10pt;
    background-color: lightblue;
    border: none;
    border-radius: 10pt;
    margin-left: -36pt;
}

.modalDatos {
    position: fixed;
    top: -3%;
    display: none;
    left: 20%;
    padding: 30pt 15pt;
    border: solid, black, thin;
    background-color: white;
    width: 30%;
    transform: translate(50%, 50%);
    height: fit-content;
}

.modalDatos>img {
    position: fixed;
    cursor: pointer;
    top: 2%;
    right: 4%;
    width: 5%;
    min-height: 25px;
    min-width: 25px;
}

.modalDatos input {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10pt 5pt;
    margin-top: 10pt;
}

.modalDatos input:focus {
    outline: none;
}

.modalDatos select {
    padding: 15pt 30pt;
    width: 80%;
    align-self: center;
    height: fit-content;
    text-align: center;
}

select:focus {
    outline: none;
}

input[type="date"] {
    padding: inherit;
}

label {
    margin-top: 24pt;
    margin-bottom: -7pt;
}

.modalDatos form {
    display: flex;
    flex-direction: column;
}

.modalDatos input[type="submit"] {
    border-bottom: none;
    background-color: #05a3ff;
    border-radius: 10pt;
    color: white;
    cursor: pointer;
    font-weight: 700;
}

.mover {
    display: inline-block;
    padding: 12pt 5pt;
    width: 80%;
    margin-top: -29pt;
    position: fixed;
    cursor: pointer;
}

@media(min-width:430px) {
    .botones>button {
        display: flex;
        flex-direction: column;
        /* margin-left: 10%; */
        width: 75%;
        padding-top: 12pt;
        min-width: 145px;
    }

    .botones {
        display: flex;
        flex-direction: column;
        background-color: aliceblue;
        border-radius: 15pt;
        padding: 10pt 57pt;
        width: 120%;
        margin-left: -74pt;
    }
}